<h1>Create post</h1>

<%= form_for @changeset, post_path(@conn, :create), fn f -> %>
  <%= if @changeset.action do %>
    <div class="form-group help-block">
      Oops, something went wrong! Please check the errors below.
    </div>
  <% end %>

  <div class="form-group">
    <label for="post_title">Title</label>
    <input type="text" id="post_title" name="post[title]" minlength="1" maxlength="200" tabindex="1" required />
    <%= error_tag f, :title %>
  </div>

  <div class="form-group">
    <label for="post_content">
      Content
      <span class="form-help">
        <a href="https://guides.github.com/features/mastering-markdown/" target="_blank">fomatting tips</a>
      </span>
    </label>
    <textarea id="post_content" name="post[content]" minlength="0" maxlength="10000" rows="40" tabindex="2" required></textarea>
    <%= error_tag f, :content %>
  </div>

  <div class="form-group">
    <label for="post_public">Published <span class="form-help">(tick to make post publicly visible)</span></label>
    <input name="post[public]" type="hidden" value="false">
    <input type="checkbox" id="post_public" name="post[public]" tabindex="3" value="true">
    <%= error_tag f, :public %>
  </div>

  <%= submit "Create", tabindex: "4", class: "button-small" %>
<% end %>
