<h1>Change your password</h1>

<%= form_for @changeset, user_settings_password_path(@conn, :update), fn f -> %>
  <%= if @changeset.action do %>
    <div class="form-group help-block">
      Oops, something went wrong! Please check the errors below.
    </div>
  <% end %>

  <div class="form-group">
    <label for="user_current_password">Current password</label>
    <input type="password" id="user_current_password" name="user[current_password]" minlength="6" maxlength="50" required />
    <%= error_tag f, :current_password %>
  </div>

  <div class="form-group">
    <label for="user_password">New password</label>
    <input type="password" id="user_password" name="user[password]" minlength="6" maxlength="50" required />
    <%= error_tag f, :password %>
  </div>

  <div class="form-group">
    <label for="user_password_confirmation">Confirm new password</label>
    <input type="password" id="user_password_confirmation" name="user[password_confirmation]" minlength="6" maxlength="50" required />
    <%= error_tag f, :password_confirmation %>
  </div>

  <%= submit "Save", class: "button-small" %>
<% end %>
