<h1>Sign up</h1>

<%= form_for @changeset, user_path(@conn, :create), fn f -> %>
  <%= if @changeset.action do %>
    <div class="form-group help-block">
      Oops, something went wrong! Please check the errors below.
    </div>
  <% end %>

  <div class="form-group">
    <label for="user_email">Email</label>
    <input type="email" id="user_email" name="user[email]" minlength="1" maxlength="200" required />
    <%= error_tag f, :email %>
  </div>

  <div class="form-group">
    <label for="user_username">Username</label>
    <input type="text" id="user_username" name="user[username]" minlength="1" maxlength="20" required />
    <%= error_tag f, :username %>
    <div class="form-help">
      Username may only contain letters, digits and single hyphens. Cannot begin or end with a hyphen.</div>
  </div>

  <div class="form-group">
    <label for="user_password">Password</label>
    <input type="password" id="user_password" name="user[password]" minlength="6" maxlength="50" required />
    <%= error_tag f, :password %>
    <div class="form-help">Must be at least 6 characters.</div>
  </div>

  <div class="form-group">
    <label for="user_password_confirmation">Confirm password</label>
    <input type="password" id="user_password_confirmation" name="user[password_confirmation]" minlength="6" maxlength="50" required />
    <%= error_tag f, :password_confirmation %>
  </div>

  <%= submit "Create", class: "button-small" %>
<% end %>
