<header>
  <span><a href="<%= page_path(@conn, :index) %>" class="logo">Sceopa</a></span>
  <nav>
    <ul>
      <%= if @current_user == nil do %>
        <li><a href="<%= user_path(@conn, :new) %>" class="button-small">Sign up</a></li>
        <li><a href="<%= session_path(@conn, :new) %>">Sign in</a></li>
      <%= else %>
        <li><a href="<%= post_path(@conn, :new) %>">+ Add post</a></li>
        <li><a href="<%= user_path(@conn, :show, @current_user) %>">Blog</a></li>
        <li><a href="<%= dashboard_path(@conn, :index) %>">Dashboard</a></li>
        <li><a href="<%= user_settings_path(@conn, :index) %>">Settings</a></li>
        <li><a href="<%= session_path(@conn, :delete) %>">Sign out</a></li>
      <% end %>
    </ul>
  </nav>
</header>
