<h1>Change your username</h1>

<%= form_for @changeset, user_settings_username_path(@conn, :update), fn f -> %>
  <%= if @changeset.action do %>
    <div class="form-group help-block">
      Oops, something went wrong! Please check the errors below.
    </div>
  <% end %>

  <div class="form-group">
    <label for="user_username">New username</label>
    <input type="text" id="user_username" name="user[username]" minlength="1" maxlength="20" required />
    <%= error_tag f, :username %>
    <div class="form-help">
      Username may only contain letters, digits and single hyphens. Cannot begin or end with a hyphen.</div>
  </div>

  <div class="form-group">
    <label for="user_current_password">Password</label>
    <input type="password" id="user_current_password" name="user[current_password]" minlength="6" maxlength="50" required />
    <%= error_tag f, :current_password %>
  </div>

  <%= submit "Save", class: "button-small" %>
<% end %>
