<button class="button-small">Small button</button>
<a href="#" class="button-small">Small button</a>
<br>
<br>
<button class="button-large">Large button</button>
<a href="#" class="button-large">Large button</a>
<br>
<br>
<a href="#">Standard link</a>
<br>
<br>
<h1>A H1 header</h1>
<h2>A H2 header</h2>
<h3>A H3 header</h3>
