<h1>Dashboard</h1>

<div class="dashboard-create">
  <a class="button-small" href="<%= post_path(@conn, :new) %>">+ Create new post</a>
</div>

<%= for post <- @posts do %>
  <div class="dashboard-post-item">
    <div class="dashboard-post-item-title">
      <a href="<%= post_path(@conn, :show, post) %>"><%= post.title %></a>
      <%= if not post.public do %>
        <span class="info">[draft]</span>
      <% end %>
    </div>
    <div class="dashboard-post-item-options">
      <span class="dashboard-post-item-option"><a href="<%= post_path(@conn, :edit, post) %>">Edit</a></span>
      <span class="dashboard-post-item-option">
        <form action="<%= post_path(@conn, :delete, post) %>" method="post" class="form-link">
          <input name="_method" type="hidden" value="delete">
          <input name="_csrf_token" type="hidden" value="<%= get_csrf_token() %>">
          <input type="submit" value="Delete">
        </form>
      </span>
    </div>
  </div>
<% end %>
