<h1>Blogging made simple</h1>
<br>
<a href="<%= user_path(@conn, :new) %>" class="button-large">Create an account</a>
<br>
<br>
<p><em>Sceopa</em> is a free, open-source blogging platform designed for simplicity and ease of use.</p>

<h2>Fast and responsive on all devices</h2>
<ul>
  <li>No javascript</li>
  <li>No custom fonts</li>
  <li>Minimal CSS</li>
</ul>

<h2>Optimized for reading</h2>
<ul>
  <li>Large, clear text</li>
  <li>Minimal design, no distractions</li>
</ul>

<h2>Designed for coders</h2>
<ul>
  <li>Inbuilt syntax highlighting</li>
  <li>Markdown support</li>
  <li>Open-source (GPL v3) on <a href="https://gitlab.com/jameslong/sceopa">GitLab</a></li>
</ul>

<a href="<%= about_path(@conn, :index) %>">Find out more.</a>
