<h1>Blogging made simple</h1>
<p><em>Sceopa</em> is a free, open-source blogging platform designed for simplicity and ease of use.</p>

<h2>Fast and responsive</h2>

<p>No large frameworks or bloat, no javascript, and fewer than 300 lines of CSS. Sceopa is quick and responsive even on the slowest mobile devices.</p>

<h2>Easy to create</h2>

<p>Sceopa makes it easy to create new blog posts in seconds. <a href="https://guides.github.com/features/mastering-markdown">Markdown</a> is supported, and automatic syntax highlighting makes writing technical blog posts quick and easy.</p>

<h2>Easy to read</h2>

<p>Blog posts are optimized for readability, that means clear, large fonts, no distractions, and a design at home on all devices.</p>

<h2>Open source</h2>

<p>The Sceopa source code is freely available on GitLab under the GPL v3 license <a href="https://gitlab.com/jameslong/sceopa">here</a>. Sceopa is written in <a href="http://elixir-lang.org/">Elixir</a> and built using the <a href="http://www.phoenixframework.org/">Phoenix Framework</a>.</p>

